
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, Poppins, Montserrat, sans-serif;
  background: #FFFFFF;
  color: #14213D;
  @apply min-h-screen;
}
